# Python
*.pyc
*~
__pycache__/

# Virtual Environment

dee/
ePermit_key
ePermit_key.pub

# Environment Variables
.env

# IDE Directories
.vscode/
.idea/

p
test.py
trial.css
trial.html
business_permit_pdf
system_defaults