# Install the following dependencies

# Package                Version 
# ---------------------- --------
blinker==1.8.2
cachelib==0.13.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.7
flask==3.0.3
Flask-Mail==0.9.1
flask-session==0.8.0
flask-sqlalchemy==3.1.1
greenlet==3.0.3
idna==3.7
importlib-metadata==7.1.0
itsdangerous==2.2.0
jinja2==3.1.4
MarkupSafe==2.1.5
msgspec==0.18.6
mysql-connector-python==8.4.0
mysqlclient==2.2.4
PyJWT==2.8.0
pycparser==2.22
pyOpenSSL==24.1.0
python-dotenv==1.0.1
requests==2.31.0
SQLAlchemy==2.0.30
typing-extensions==4.11.0
urllib3==2.2.1
werkzeug==3.0.3
zipp==3.18.2

# How to install all requirements
# pip install -r requirements.txt


# delete __pycache__
# find . -type d -name "__pycache__" -exec rm -r {} +