

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    width: 50%;
}

.login-form{
    flex-direction: column;
    width: 100%;
    height: 80%;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.form-login{
    margin: auto auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

.login-form h3{
    color: green;
    text-align: center;
    position: relative;
}

.btn-primary{
    margin: auto auto;
}
.sign-up{
    margin: 12px auto;
}
.sign-up a{
    color: green;
    text-decoration: none;
}