.row {
    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.col-1 {
    background-color: yellow;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.col-2 {
    width: 50%;
    height: 100vh;
    background-image: url('/web_flask/static/images/Stone\ Town\ Restaurants_\ What\ and\ Where\ to\ Eat.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
}
.my-form {
    display: flex;
    flex-direction: column;

}

.my-form input {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}
