<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/dashboard.css">

    <title>Landing Page</title>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

    <div class="container">
        <div class="row">
          <a href="{{url_for('register')}}" target="_blank" rel="noopener noreferrer">
            <div class="col-1"></div>
          </a>
          <a href="{{url_for('register')}}" target="_blank" rel="noopener noreferrer">
            <div class="col-2">
            </div>
          </a>
        </div>
    </div>
</body>
</html>