{% extends "base.html" %}

{% block content %}

<div class="clearfix">
  <img src="/static/images/epermit.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
  </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Our Services</h1>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="/static/images/epermit.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ePermit</h5>
        <p class="card-text">Apply for your business permit and make payments online, including Outdoor advertisement and Liqour License.</p>
        <button type="button" class="btn btn-info">
          <a href="{{ url_for('auth.signup') }}">Apply</a>
        </button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/static/images/epermit.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Land Services</h5>
        <p class="card-text">Pay your annual land rates, print statement, update your property or transfer and track status of your application.</p>
        <button type="button" class="btn btn-info">
          <a href="{{ url_for('main.comingsoon') }}">Apply</a>
        </button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/static/images/epermit.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Book Parking</h5>
        <p class="card-text">Pay parking for your vehicle online. You can now pay for multiple vehicles in bulk at one go.</p>
        <button type="button" class="btn btn-info">
          <a href="{{ url_for('main.comingsoon') }}">Apply</a>
        </button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/static/images/epermit.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Parking</h5>
        <p class="card-text">Pay parking for your vehicle online. You can now pay for multiple vehicles in bulk at one go.</p>
        <button type="button" class="btn btn-info">
          <a href="{{ url_for('main.comingsoon') }}">Apply</a>
        </button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/static/images/epermit.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Parking</h5>
        <p class="card-text">Pay parking for your vehicle online. You can now pay for multiple vehicles in bulk at one go.</p>
        <button type="button" class="btn btn-info">
          <a href="{{ url_for('main.comingsoon') }}">Apply</a>
        </button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/static/images/epermit.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Parking</h5>
        <p class="card-text">Pay parking for your vehicle online. You can now pay for multiple vehicles in bulk at one go.</p>
        <button type="button" class="btn btn-info">
          <a href="{{ url_for('main.comingsoon') }}">Apply</a>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- like a Footer -->
<div class="container text-center">
  <div class="row align-items-end">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>
{% endblock %}