{% extends "base.html" %}

{% block content %}
<div class="login-form">
    <h3 class="title">Login</h3>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }} Sign up <a href="{{ url_for('auth.signup') }}">here</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form class="form-login" method="POST" action="/login">
            <div class="field">
                <label for="email" class="form-label">Email <span class="required">*</span></label>
                <input type="email" name="email" class="form-control" placeholder="Your Email">
            </div>
           
            <div class="field">
                <label for="password" class="form-label">Password <span class="required">*</span></label>
                <input type="password" name="password" class="form-control" placeholder="Your Password">
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="btn btn-primary">Login</button>
            <div class="sign-up">
                <a href="{{ url_for('auth.signup') }}">Dont have an account? Register</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}