<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Response</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        .message {
            margin-top: 50px;
            font-size: 24px;
        }
    </style>
</head>

<body>
    <h1>Payment Response</h1>
    <div class="message">
        {% if message %}
        <p>{{ message }}</p>
        {% else %}
        <p>No payment status available</p>
        {% endif %}
    </div>
</body>

</html>