<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/register.css">
    <link rel="stylesheet" href="../static/styles/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7DvaMrr77CKuCqUnQ2xQTQ3WKbAwgCMw&callback=initMap" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js?"></script>
    <script src="../static/scripts/0-epermit.js"></script>
    <link rel="icon" href="../static/images/klf.jpeg" />
    <title>registration</title>
</head>
<body>
    <nav class="nav"></nav>
    <div class="dashboard">
        <div class="side-nav"></div>
        <div class="main">
            <form class="form-control" id="register-bs" method="POST" action="/pay">
                <div class="business-info">
                    <h4>Business Details</h4>
                    
                    <div class="mb-3">
                        <label for="name" class="form-label">Business Name <span class="required">*</span></label>
                        <input type="name" id="name" class="form-control" aria-describedby="businessNameHelpBlock">
                        <div id="charCount" class="form-text">Max 64 characters</div>
                        <div id="businessNameHelpBlock" class="form-text">Entered: 0 characters.</div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="origin" class="form-label" >Business Entity Origin<span class="required">*</span></label>
                        <select name="origin" class="form-select" id="origin">
                            <option selected></option>
                            <option value="kenyan">Kenyan</option>
                            <option value="foreigner">Foreigner</option>
                        </select><br><br>
                    </div>

                    <div class="mb-3">
                        <label for="KRA_pin" class="form-lable">PIN <span class="required">*</span></label>
                        <input type="text" id="KRA_pin" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="vat" class="form-label">VAT No.</label>
                        <input type="vat" id="vat" class="form-control" aria-describedby="vatHelpBlock">
                        <div class="form-text">Max 20 characters</div>
                        <div id="vatHelpBlock" class="form-text">Entered: 0 characters.</div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="box" class="form-label">P.O BOX <span class="required">*</span></label>
                        <input type="box" id="box" class="form-control" required aria-describedby="boxHelpBlock">
                        <div class="form-text">Max 10 characters</div>
                        <div id="boxHelpBlock" class="form-text">Entered: 0 characters.</div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="postal_code">Postal Code <span class="required">*</span></label>
                        <select id="postal_ode" class="form-select">
                            <option value="" selected></option>
                            <option value="80100">80100 Malindi</option>
                            <option value="80200">80200 Mambrui</option>
                            <option value="80300">80300 Watamu</option>
                            <option value="80400">80400 Gede</option>
                            <option value="80500">80500 Kilifi</option>
                            <option value="80600">80600 Mtwapa</option>
                            <option value="80700">80700 Kanamai</option>
                            <option value="80800">80800 Kaloleni</option>
                            <option value="80900">80900 Marafa</option>
                            <option value="81000">81000 Tezo</option>
                            <option value="81100">81100 Mariakani</option>
                            <option value="81200">81200 Rabai</option>
                            <option value="81300">81300 Kilifi Town</option>
                            <option value="81400">81400 Mavueni</option>
                            <option value="81500">81500 Kibaoni</option>
                            <option value="81600">81600 Shariani</option>
                            <option value="81700">81700 Junju</option>
                            <option value="81800">81800 Vipingo</option>
                            <option value="81900">81900 Pingilikani</option>
                            <option value="82000">82000 Matsangoni</option>
                            <option value="82100">82100 Garashi</option>
                            <option value="82200">82200 Kakuyuni</option>
                            <option value="82300">82300 Sokoni</option>
                            <option value="82400">82400 Mbaraka</option>
                            <option value="82500">82500 Takaungu</option>
                            <option value="82600">82600 Kilindini</option>
                            <option value="82700">82700 Gongoni</option>
                            <option value="82800">82800 Ngala</option>
                            <option value="82900">82900 Sokoke</option>
                            <option value="83000">83000 Kipini</option>
                            <option value="83100">83100 Bamba</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="business_telephone" class="form-label">Business Telephone No.<span class="required">*</span></label>
                        <input type="business_telephone" id="business_telephone" class="form-control" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="description" class="form-label">Business Activity description</label>
                        <textarea id="description" class="form-control" rows="4" cols="50" aria-describedby="descriptionHelpBlock"></textarea>
                        <div class="form-text">Max 256 characters</div>
                        <div  id="descriptionHelpBlock" class="form-text">Entered: 0 characters.</div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="category">Category <span class="required">*</span></label>
                        <select id="category" class="form-select">
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="map"></div>
                <div class="row">
                    <div class="col">
                        <label for="Latitude" class="form-label">Latitude:</label>
                        <input type="text" id="Latitude" class="form-control"><br><br>
                    </div>
                    <div class="col">
                        <label for="longitude" class="form-label">Longitude:</label>
                        <input type="text" id="longitude" class="form-control"><br><br>
                    </div>
                </div>
                <div class="owner-info">
                    <h4>Onwer's Details</h4>
                    <div class="row">
                        <div class="col">
                            <label for="first name" class="form-label">First Name <span class="required">*</span></label>
                            <input type="text" id="name" class="form-control" required>
                        </div>
                        <div class="col">
                            <label for="first name" class="form-label">Last Name <span class="required">*</span></label>
                            <input type="text" id="name" class="form-control" required>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="ID_number" class="form-label">ID No <span class="required">*</span></label>
                        <input type="ID_number" id="ID_number" class="form-control" required><br><br>
                    </div>
                    
                    <div class="mb-3">
                        <label for="gender">Gender <span class="required">*</span></label>
                        <select name="gender" id="gender" class="form-select">
                            <option value="" selected></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>

                    <label for="declaration">Declaration</label><br>

                </div>
                <button type="submit"  class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
    </script>
</body>
</html>