<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="register-bs">
            <form action="/register">
                <label for="first_name">first name</label>
                <input type="text" name="first name" id="firt_name">
                <label for="last_name">last name</label>
                <input type="text" name="last name" id="last_name">
                <button type="submit">register</button>
            </form>
        </div>
    </div>
</body>
</html>