/* Admin dashboard */
/* side nav */
.main-listing .side-nav .side-nav-h {
    background-color: #285943;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;

}
.main-listing .side-nav .side-nav-h:hover {
    background-color: #4f836c;

}
.service-listing .table-services {
    margin-left: 5%;
    
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
   

}
.table-services .services-table {
    background-color: #DDDDDD;
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    
}

.bts {
    background-color:#285943 ;
    padding: 5px 5px;
    border-radius: 5px;
    color: aliceblue;
    text-decoration: none;
}

.bts:hover {
    background-color: rgb(57, 119, 98);
}

/* View business details after dashbaord*/
.admin-upper .admin-upper-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin: 5%;
    color: #285943;
    
}




/* Business details */
.business-details {
    background-color: #DDDDDD;
    padding: 20px;
    margin: 2%;
    margin-left: 5%;
    margin-top: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 20px;
}

.business-details ul {
    list-style: none;
    padding: 10px;
}

.business-details ul li {
    margin-bottom: 10px;
    padding: 8px;
}

/* buttons */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.business-details form {
    margin-top: 20px;
}

.buttons form button {
    padding: 10px 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.business-details form .btn-approve:hover {
    background-color: #28a745;;
    color: #fff;
}
.business-details form .btn-reject:hover {
    background-color: red;
    color: #fff;
}


.business-details form .btn-reject {
    background-color: #dc3545;
    color: #DDDDDD;
}

.business-details form .btn-approve {
    background-color:  #2f5745;
    color: #DDDDDD;
}

/* Smartphones (portrait) */
@media (max-width: 768px) {
    .nav-dashboard {
        width: 100vw;
    }

    .main-listing {
        width: 100%;
        position: relative;
    }
    .service-listing{
        width: 100vw;
    }

    .side-nav {
        overflow: hidden;
        width: 0;
        left: -5%;
        z-index: 2;
        white-space: nowrap;
        height: 100vh;
    }

    .service-listing {
        width: auto;
        z-index: 0;
        margin: auto auto;
        background-color: white;
    }
    .upper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 98%;
        margin: 1%;
    }
    .admin-services .table-services {
        width: auto;
        margin: 0;
    }
    .admin-services .table-services .services-table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
    
    }
    .bts {
        display: flex;
        background-color: #285943;
        padding: 2px 2px;
        border-radius: 5px;
        width: 70px;
        color: aliceblue;
        text-decoration: none;
        text-align: center;
    }
    .bts:hover {
        background-color: rgb(57, 119, 98);
    }
    .admin-upper {
        width: auto;
    }

    .business-details .buttons button {
        width: 90px;
        padding: 6px 14px;
        font-size: 12px;
    }

    .nav-dashboard {
        width: auto;
    }

    .business-details {
        width: auto;
        font-size: 12px;
    }
    
}
