.auth-form-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.flash-success{
    background-color: green;
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin: 12px;
    text-align: center;
}

.flash-error{
    background-color: red;
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin: 12px;
    text-align: center;
}

.form-auth{
    margin: auto auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.auth-form-div h3{
    color: green;
    text-align: center;
}
.field{
    margin:12px;
}

.auth{
    margin: auto auto;
    width: 50%;
}
.sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px auto;
}
.sign-up a{
    color: green;
    text-decoration: none;
}
.sign-up a:hover{
    color: cornflowerblue;
}

/* --------------------------------------------------- */

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.col-1 {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto auto;
}


.my-form {
    width: 80%;
    margin: auto auto;
    position: relative;
}

.email,
.password {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.links a {
    text-decoration: none;
    margin-top: 12px;

}

.links a:hover {
    text-decoration: underline;
    color: green;
}

.email input,
.password input {
    font-size: 18px;
    padding: 16px 20px;
    outline: none;
    border-radius: 16px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid green;
    outline: none;
}

.email label,
.password label {
    font-size: 18px;
    color: #161A30;
    ;
}

.links button {
    color: white;
    background-color: green;
    padding: 16px 40px;
    border-radius: 16px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 80%;
}

.links button:hover {
    opacity: 90%;
}