/* ---styling for login and sign-up-------- */
.auth-form-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 2rem auto;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.auth-form-div h3 {
    text-align: center;
    color: #003840;
}

.form-auth {
    margin: auto auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
.form-auth label{
    font-size: 1.1rem;
    font-weight: 400;

}

.form-auth input:required:focus:invalid,
.form-auth input:required:invalid:focus,
.form-auth input:required:invalid:not(:focus):valid {
    border: 1px solid #A94442;
    background-color: white;
}

/* Style valid fields after user interaction */
.form-auth input:required:focus:valid,
.form-auth input:required:valid:focus,
.form-auth input:required:valid:not(:focus) {
    border: 2px solid #4F8A10;
    background-color: white;
}

.is-invalid {
    outline: #A94442;
}

.flash-success {
    background-color: #DFF2BF;
    color: #4F8A10;
    padding: 12px;
    border-radius: 8px;
    margin: 12px;
    text-align: center;
}

.flash-error {
    background-color: #F2DEDE;
    color: #A94442;
    padding: 12px;
    border-radius: 8px;
    margin: 12px;
    text-align: center;
}

.field {
    margin: 12px;
}

.field ::placeholder {
    font-size: 0.8rem;
    color: #DDDDDD;
}

.auth {
    margin: auto auto;
    width: 50%;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
}

.sign-up a {
    color: green;
    text-decoration: underline;
}

.sign-up a:hover {
    color: #FF0000;
    text-decoration: none;
}

/* --------------------------------------------------- */

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.col-1 {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto auto;
}


.my-form {
    width: 80%;
    margin: auto auto;
    position: relative;
}

.email,
.password {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.links a {
    text-decoration: none;
    margin-top: 12px;

}

.links a:hover {
    text-decoration: underline;
    color: green;
}

.email input,
.password input {
    font-size: 18px;
    padding: 16px 20px;
    outline: none;
    border-radius: 16px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid green;
    outline: none;
}

.email label,
.password label {
    font-size: 18px;
    color: #161A30;
    ;
}

.links button {
    color: white;
    background-color: green;
    padding: 16px 40px;
    border-radius: 16px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 80%;
}

.links button:hover {
    opacity: 90%;
}


/* ------------------verify email------------------ */
.verify-m {
    height: 356px;
}

.verify-m h3 {
    color: #161A30;
}

.form-auth .verify-b {
    color: #007bff;
}

/* --------forgot passowrd page -------- */

.f-forgot-pwd {
    height: 17rem;
}

.auth-form-div .t-forgot-pwd {
    color: #555555;
    font-size: 2rem;
}

.form-auth .auth {
    background-color: #008080;
    color: #fff;
    border: none;
}

.form-auth .auth:hover {
    background-color: #005757;
}
.choice{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5%;
    padding: 5%;
}
.cancel-forgot{
    color: #003840;
    background-color: #DDDDDD;
}
.search-forgot{
    color: white;
    background-color: #007bff;
}
.choice-btn,
.choice-btn-li{
   width: 20%;
   height: 2rem;
   padding: 0.2rem 0.8rem;
   border: none;
   border-radius: 0.5rem;
}
.choice-btn:hover,
.choice-btn-li:hover{
    background-color: opacity(0.9);
    cursor: pointer;
}

#s-choice{
    background-color: #038C7F;
}
/* --------------password reset-------------- */
.pwd-reset {
    height: 356px;
}

.pwd-reset h3 {
    color: #1A237E;
}

.form-auth .b-pwd-reset {
    background-color: #2196F3;
    color: #ffffff;
}

@media (max-width: 575.98px) {

    .login-button {
        visibility: hidden;
    }

    .auth-form-div {
        height: 80vh;
        width: 90%;
        margin-top: 0;
        box-shadow: none;
    }


    .auth-form-div .title {
        padding-top: 2.5rem;
        margin: 0;
    }

    .form-auth {
        width: 100%;
    }
    .form-auth input{
        padding: 0.5rem;
    }

    .autht,
    .sign-up {
        margin: 16px auto;
    }
    .t-forgot-pwd{
        font-weight: 600;
    }

}

@media (min-width: 576px) and (max-width: 768px) {

    .auth-form-div {
        width: 80%;
        margin-top: 0;
    }

    .auth-form-div .title {
        padding-top: 24px;
        margin: 0;
    }

    .form-auth {
        width: 100%;
        height: 50%;
    }

    .autht,
    .sign-up {
        margin: 1rem auto;
    }
   .f-forgot-pwd {
       height: 20rem;
       width: 60%;
       box-shadow: none;
       background-color: red;
   }
}
