/* ---styling for login and sign-up-------- */
.auth-form-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.auth-form-div h3 {
    color: green;
    text-align: center;
}

.form-auth {
    margin: auto auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.form-auth input:required:focus:invalid,
.form-auth input:required:invalid:focus,
.form-auth input:required:invalid:not(:focus):valid {
    border: 1px solid #A94442;
    background-color: white;
}

/* Style valid fields after user interaction */
.form-auth input:required:focus:valid,
.form-auth input:required:valid:focus,
.form-auth input:required:valid:not(:focus) {
    border: 2px solid #4F8A10;
    background-color: white;
}

.is-invalid{
    outline: #A94442;
}

.flash-success{
    background-color: #DFF2BF;
    color: #4F8A10;
    padding: 12px;
    border-radius: 8px;
    margin: 12px;
    text-align: center;
}

.flash-error{
    background-color: #F2DEDE;
    color: #A94442;
    padding: 12px;
    border-radius: 8px;
    margin: 12px;
    text-align: center;
}

.field{
    margin:12px;
}

.field ::placeholder{
    font-size: 0.8rem;
    color: #DDDDDD;
}

.auth{
    margin: auto auto;
    width: 50%;
}

.sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
}
.sign-up a{
    color: green;
    text-decoration: underline;
}

.sign-up a:hover{
    color: #FF0000;
    text-decoration: none;
}

/* --------------------------------------------------- */

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.col-1 {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto auto;
}


.my-form {
    width: 80%;
    margin: auto auto;
    position: relative;
}

.email,
.password {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.links a {
    text-decoration: none;
    margin-top: 12px;

}

.links a:hover {
    text-decoration: underline;
    color: green;
}

.email input,
.password input {
    font-size: 18px;
    padding: 16px 20px;
    outline: none;
    border-radius: 16px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid green;
    outline: none;
}

.email label,
.password label {
    font-size: 18px;
    color: #161A30;
    ;
}

.links button {
    color: white;
    background-color: green;
    padding: 16px 40px;
    border-radius: 16px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 80%;
}

.links button:hover {
    opacity: 90%;
}


/* ------------------verify email------------------ */
.verify-m{
    height: 356px;
}
.verify-m h3{
    color: Purple;
}

.form-auth .verify-b{
    color: #007bff;
}

/* --------forgot passowrd page -------- */

.f-forgot-pwd{
    height: 256px;
}

.auth-form-div .t-forgot-pwd{
    color: #555555;
    font-size: 24px;
}

.form-auth .auth{
    background-color: #008080;
    color: #fff;
    border: none;
}

.form-auth .auth:hover{
    background-color: #005757;
}


/* --------------password reset-------------- */
.pwd-reset{
    height: 356px;
}

.pwd-reset h3{
    color: #1A237E;
}

.form-auth .b-pwd-reset{
    background-color: #2196F3;
        /* Vibrant Blue */
        color: #ffffff;
}





@media (max-width: 575.98px) {
    .nav-base{
        background-color: blue;
    }
    .main {
            width: 100vw;
    }

    .auth-form-div{
        margin-top: 50px;
    }

    .form-auth{
        width: 100%;
        height: 450px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    .main {
        width: 100vw;
    }

    .auth-form-div {
        margin-top: 50px;
    }

    .form-auth {
        width: 100%;
        height: 500px;
    }
}



@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {
}