/* -------base html styles-------------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 .navbar {
    background-color: #fff;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-weight: 500;
    color: #151414;
    font-size: 24px;
    transition: 0.3s color;
}*/


.navbar-toggler {
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0);
    background-color: transparent;
    font-size: 1.25rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: green;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-size: 1.2rem;
    font-weight: 600;

}

.nav-link:hover {
    color: green;
}

.nav-link.active:hover {
    color: green;
}

@media (min-width: 991px) {
    .nav-link {
        position: relative;
        padding-bottom: 5px; /* Adjust padding as needed */
    }

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: green;
        visibility: hidden;
        transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}
@media (min-width: 991px) {
    .nav-link {
        padding-bottom: 5px; /* Ensure consistent padding */
    }
}

