/* -------base html styles-------------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #fff;
    height: 80px;
    position: fixed;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0);
    background-color: transparent;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: green;
    font-weight: 500;

}
.navbar-l::after{
    position: absolute;
    content: '';
    background-color: green;
    width: 100%;
    height: 3px;
    border-radius: 8px;
    left: 0;
    bottom: -4px;
    display: none;
    transition: width 0.9s ease;
}

button .nav-link:hover,
.nav-link.active {
    color: green;
}


/* will change style starting from tablets */

@media(min-width:991px) {
    .nav-link::before {
        content: "";
        position: relative;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before {
        width: 100%;
    }
}

/* ------------before login sections-------------- */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
