.coming-soon {
    padding: 50px;
    border-radius: 15px;
    background: linear-gradient(135deg, #7dd56f, #4caf50);
    /* background: linear-gradient(135deg, #e09, #d0e); */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.spinner-border {
    margin-top: 20px;
}

.lead {
    font-family: 'Georgia', serif;
    margin-top: 20px;
    font-size: 1.25rem;
}