/* -----------------------*/
.nav-dashboard{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    /* background-color: #34495e;
     */
     background-color: darkgreen;
    z-index: 10;
}

.main-listing {
    background-color: #f8f9fa;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}

.side-nav {
    position: fixed;
    width: 24%;
    height: 100vh;
    margin-left: 5%;
    background-color: #e9ecef;
    z-index: 2;
}

.service-listing {
    width: 64%;
    z-index: 0;
    margin-left: 29%;
}


.menu{
    margin-left: 5%;
    display: none;
}

.fa-bars {
    font-size: 24px;
    color: #CCCCCC;
}

.fa-bars:hover{
    cursor: pointer;

}

.btn-logout{
    margin-right: 6%;
}

.btn-logout:hover{
    opacity: 80%;
    cursor: pointer;
}

.nav-info{
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
}

.fa-bell{
    font-size: 20px;
    color: #CCCCCC;
}

.logout{
    background-color: #5d6d7e;
    color: #ecf0f1;
    outline: none;
    padding: 4px 8px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
}


.btn-s{
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #4682B4;
}

.upper img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.upper {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    /* background-color: #E0FBE2; */
    background-color: #1E90FF;
    border-radius: 8px;
    margin: 30px;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.upper img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 60px;
}

.upper p {
    animation: popFade 3s ease-in-out infinite; /* Apply animation */
    font-size: 18px;
    /* color: #333;
     */
    color: #F5F5DC;
    margin: 0;
}

.side-nav-h{
    padding: 12px;
    border-bottom: 1px solid #34495e;
}

.side-nav-h h5{
    text-decoration: none;
    color: #34495e;
    text-align: center;
}

/* Added this */
.information {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav .information {
    list-style-type: none;
    padding: 0;
    margin: 0 0 5px 0; /* Bottom margin to separate lists */
}
.information li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 8px;
    gap: 6px;
    margin: auto auto;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.side-nav a{
    text-decoration: none;
    margin: 0;
    color: #34495e;
}

.information li:hover{
    background-color: #d5d9db;
}


.information-btn{
    margin-top: 50%;
    visibility: hidden;
}

.personal-info, .business-information, .bills-info, .permit-info{
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 18px;
}

.card-group {
    margin: 16px;
}

.card {
    margin: 32px 24px;

}

.card a {
    text-decoration: none;
    background-color: rgb(7, 146, 7);
    width: 150px;

}


/* Smartphones (portrait) */
@media (max-width: 768px) {

    .nav-dashboard{
        width: 100vw;
    }
    .main-listing {
        width: 100vw;
        position: relative;
    }
    .side-nav {
        overflow: hidden;
        width: 0;
        left: -5%;
        z-index: 2;
        white-space: nowrap;
    }
    .service-listing{
        width: 100vw;
        z-index: 0;
        margin: auto auto;
        background-color: white;
    }
    .upper{
        flex-direction: column;
    }

    .upper img{
       display: none;
    }

    .menu{
        display: block;
    }

    .menu :hover{
        cursor: pointer;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
    }

    .btn-logout{
        display: none;
    }
    .nav-info{
        margin-right: 20px;
        width: 20%;
    }

    .information-btn{
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50%;
    }

    .fa-right-from-bracket{
        padding: 4px;
    }

    /* CSS for smartphones */
}
