/* -----------------------*/
.nav-dashboard{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    background-color: darkgreen;
    z-index: 10;
}
/* error messages on registration form */
.error{
    background-color: #F2DEDE;
    color: #A94442;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
}

.success{
    background-color: #DFF2BF;
    color: #4F8A10;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
}
/* ---- */

.main-listing {
    background-color: #f8f9fa;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.side-nav {
    position: fixed;
    width: 24%;
    height: 100vh;
    margin-left: 5%;
    white-space: nowrap;
    background-color: #e9ecef;
    z-index: 2;
}

.service-listing {
    width: 64%;
    z-index: 0;
    margin-left: 29%;
}

.menu{
    margin-left: 5%;
    display: none;
}

.fa-bars {
    font-size: 24px;
    color: #CCCCCC;
}

.fa-bars:hover{
    cursor: pointer;

}

.btn-logout{
    margin-right: 6%;
}

.btn-logout:hover{
    opacity: 80%;
    cursor: pointer;
}

.nav-info{
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
}

.fa-bell{
    font-size: 20px;
    color: #CCCCCC;
}

.logout{
    background-color: #5d6d7e;
    color: #ecf0f1;
    outline: none;
    padding: 4px 8px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
}


/* side nav styles */
.side-nav-h{
    padding: 12px;
    border-bottom: 1px solid #34495e;
}

.side-nav-h h5{
    text-decoration: none;
    color: #34495e;
    text-align: center;
}

.information {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav .information {
    list-style-type: none;
    padding: 0;
    margin: 0 0 5px 0;
}
.information li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 8px;
    gap: 6px;
    margin: auto auto;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.side-nav a{
    text-decoration: none;
    margin: 0;
    color: #34495e;
}

.information li:hover{
    background-color: #d5d9db;
}

.information-btn{
    margin-top: 50%;
    visibility: hidden;
}

.personal-info, .business-information, .bills-info, .permit-info{
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 18px;
}

/* Service welcome header style */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

.upper {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #1E90FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 30px;
    overflow: hidden;
    color: #34495e;

}

.upper-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.1);
}

.text-content {
    max-width: 600px;
    margin-left: 20px;
}

.text-content h2 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #34495e;
    font-weight: 100;
    font-size: 1.5rem;
    animation: fadeIn 1s ease-out; 
}

.text-content p {
    margin: 5px 0 0 0;
    font-family: 'Georgia', serif;
    color: #3f5061;
    font-size: 1rem;
    animation: fadeIn 1.5s ease-out;
}

.fade-in {
    opacity: 0;
    animation-fill-mode: forwards;
}

/* services card styles */
.card-group {
    margin: 16px;
}

.card-bolder {
    margin: 32px;

}

.all-card .card-group .card-bolder{
    border: 1px solid #ffffff;
}

.all-card .card-group .card {
    border: 1px solid #ffffff;
    border-radius: 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

/* button and link */
.card-bolder a {
    text-decoration: none;
    width: 150px;
    margin-bottom: 0;
}

.btn-x {
    padding: 5px 10px; 
    width: 150px;
    border: 2px solid #4682B4; 
    border-radius: 8px;
    color: #fff;
    background-color: #4682B4;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

.btn-x:active {
    opacity: 0.8; 
}

.card-body .btn-s {
    margin-top: auto; 
}

/* hover effect on card */
.move-on-hover {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.move-on-hover:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 17px rgba(0, 0, 0, 0.7); 
}

.move-on-hover:hover .card-title {
    font-weight: bold;
}
.move-on-hover:hover .card-text {
    font-style: italic;
}



/* Add div for testimonies */
.testimonies-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 5%;
    margin-left: 5%;
}

.testimonials-container {
    position: relative;
    width: 90%;
    height: 100px; /* Adjust based on your content */
    overflow: hidden;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #e9ecef;
    margin-bottom: 30px;
    padding: 30px 30px;
}

.testimonials {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.testimonial {
    min-width: 100%;
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    margin: 0;
    transition: transform 1s ease-in-out; /* Smooth transition for sliding */
}

.testimonial p.quote {
    font-style: italic;
    color: #333;
}

.testimonial p.author {
    font-weight: bold;
    color: #007bff;
}



/* footer style */

/* Footer styles */
footer {
    width: 100%;
    background-color: #4682B4; ;
    color: white;
    position: relative; /* Changed to sticky */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.footer-container p {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.footer-links li {
    margin: 0;
}

.footer-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #FFD700; /* Optional: Hover color */
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-links {
        margin-top: 10px;
    }
}

/* horizontal line in header */
hr {
    margin-right: 5%;
    margin-left: 5%;
    border: 0;
    border-top: 1px solid #ccc;
}
/* Smartphones (portrait) */
@media (max-width: 768px) {

    .nav-dashboard{
        width: 100vw;
    }
    .main-listing {
        width: 100vw;
        position: relative;
    }
    .side-nav {
        overflow: hidden;
        width: 0;
        left: -5%;
        z-index: 2;
        white-space: nowrap;
    }
    .service-listing{
        width: 100vw;
        z-index: 0;
        margin: auto auto;
        background-color: white;
    }
    .upper{
        flex-direction: column;
    }

    .upper img{
       display: none;
    }

    .menu{
        display: block;
    }

    .menu :hover{
        cursor: pointer;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
    }

    .btn-logout{
        display: none;
    }
    .nav-info{
        margin-right: 20px;
        width: 20%;
    }

    .information-btn{
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50%;
    }

    .fa-right-from-bracket{
        padding: 4px;
    }

    /* CSS for smartphones */
}
