
.main {
    padding-top: 100px; /* Adjust this value to be greater than the navbar height */
}

.hero {
    background: url('../images/background.png') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    background-size: 2400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* color: white; Ensure text is visible on any background */
    padding: 100px;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better readability */
}

.hero-subtitle {
    font-size: 2rem;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Add text shadow for better readability */
}

.hero-button {
    font-size: 1.5rem;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-button:hover {
    background-color: #0056b3; 
    transform: translateY(-5px); 
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.services {
    padding: 60px 0;
    text-align: center;
    background-color: rgba(91, 178, 197, 0.208);
    display: flex;
    justify-content: center;
}

.service-wrapper {
    padding: 5% 8%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#serviceh1 {
    color: transparent;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
    background-color: rgb(4, 52, 83);
    background: linear-gradient(8deg,rgba(8,52,83,1) 0%,rgba(0,230,173,1) 41%,rgba(41,17,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    position: relative;
}

#serviceh1:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgba(69, 70, 80, 0.117);
}

#serviceh1 span {
    position: absolute;
    top:100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #1fc51c;
    animation: anim 5s linear infinite;
}

@keyframes anim {
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left: 88%;

    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-top: 80px;
}

.card {
    height: 300px;
    width: 300px;
    background-color:rgb(251, 251, 251);
    padding: 3% 8%;
    border: 0.2px solid rgba(114, 226, 174, 0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    max-height: 400px;
}

.card:after{
    content: "";
    position:absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #040404;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

.card:hover:after{
    width: 225%;
    top:-100%
}

.card i {
    color: green;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}

.card h2 {
    color: #49439e;
    font-size: 20px;
    font-weight: 600;

}

.card p{
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(16, 1, 1, 0.946)
}

.card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
}

.card:hover{
    color: #0b4e19;
}

@media screen and (max-width:1200px){
    .cards{
        grid-template-columns: repeat(2,1fr)
    }
}

.service-box {
    margin-bottom: 30px;
}@media screen and (max-width:900px){
    .cards{
        grid-template-columns: repeat(1,1fr)
    }
    h1{
        font-size: 2.5rem;
    }
}

.apply-link {
    text-decoration: none;
    width: 100%;
}

.apply-button {
    margin-top: auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    text-align: center;
}

.apply-button:hover {
    opacity: 0.5;
}

section #faq {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#faq h2 {
    color: transparent;
    font-size: 3rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(8deg, rgba(8,52,83,1) 0%, rgba(0,230,173,1) 41%, rgba(41,17,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    margin: 2rem 0rem;

}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #59a5a546;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.8rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4 ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform .5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.contact {
    padding: 60px 0;
    height: 100%;
    font-family: inherit;
}
/* 
.contact h2 {
    margin-bottom: 30px;
    font-size: 2.5em;
} */

.contact h2 {
    color: transparent;
    font-size: 3rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(8deg, rgba(8,52,83,1) 0%, rgba(0,230,173,1) 41%, rgba(41,17,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
} 

.contact .form-label {
    font-weight: bold;
}

.contact .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
}

.contact .btn-primary:hover {
    background-color: #0056b3;
}

.popup-message {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background-color: #28a745;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
}


footer section{
    color: aliceblue;
    background: linear-gradient(90deg, #01000bd8, #06354d, #000006e6);
}