
.hero {
    background: url('../images/base1.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    background-size: 2400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    opacity: 0.7;
}

.container-h{
    margin: auto auto;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}
.hero-subtitle{
    color: white;
}

.fall-in-text {
    opacity: 0;
    transform: translateX(-100%);
    animation: fallInFromLeft 1s forwards;
}

.fall-in-text:nth-child(2) {
    animation-delay: 0.5s;
}

@keyframes fallInFromLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.hero-subtitle {
    font-size: 2rem;
    margin-bottom: 40px;
}

.hero-button {
    font-size: 1.5rem;
    padding: 15px 30px;
}

.services {
    padding: 60px 0;
    text-align: center;
    background-color: rgba(91, 197, 93, 0.208);
    /* margin-left: 150pt;
    /* padding: 100pt;
    margin-right: 150pt; */
    /* height: 50vh; */
    display: flex;
    justify-content: center;
}

.service-wrapper {
    padding: 5% 8%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#serviceh1 {
    color: transparent;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
    /* left-spacing: 4px; */
    background-color: rgb(4, 52, 83);
    background: linear-gradient(8deg, rgba(8, 52, 83, 1) 0%, rgba(0, 230, 173, 1) 41%, rgba(41, 17, 45, 1) 100%);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

#serviceh1:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgba(69, 70, 80, 0.117);
}

#serviceh1 span {
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #21981f;
    animation: anim 5s linear infinite;
}

@keyframes anim {
    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        left: 88%;

    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 80px;
}

.card {
    height: 300px;
    width: 300px;
    background-color: rgb(251, 251, 251);
    padding: 3% 8%;
    border: 0.2px solid rgba(114, 226, 174, 0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card:after {
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #040404;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

.card:hover:after {
    width: 225%;
    top: -100%
}

.card i {
    color: green;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}

.card h2 {
    color: #49439e;
    font-size: 20px;
    font-weight: 600;

}

.card p {
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(16, 1, 1, 0.946)
}

.card:hover {
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
}

.card:hover {
    color: #00ff37;
}

@media screen and (max-width:1200px) {
    .cards {
        grid-template-columns: repeat(2, 1fr)
    }
}

.service-box {
    margin-bottom: 30px;
}

@media screen and (max-width:900px) {
    .cards {
        grid-template-columns: repeat(1, 1fr)
    }

    h1 {
        font-size: 2.5rem;
    }
}

/* .service-box {
    margin-bottom: 30px;
} */

.faq-list {
    padding: 0;
}

.faq-list ul {
    padding: 0;
    list-style: none;
}

.faq-list ul li {
    margin-bottom: 20px;
}

.faq-list ul li a {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 15px 15px 50px;
    background: #f5f5f5;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    color: #4b4b4b;
}

.faq-list ul li a:hover {
    background: #e6e6e6;
    color: #4b4b4b;
}

.faq-list ul li i {
    font-size: 24px;
    position: absolute;
    left: 15px;
    top: calc(50% - 12px);
    transition: 0.5s;
}

.faq-list ul li .icon-show {
    display: none;
}

.faq-list ul li .icon-close {
    display: inline;
}

.faq-list ul li.active .icon-show {
    display: inline;
}

.faq-list ul li.active .icon-close {
    display: none;
}

.faq-list ul li p {
    margin-top: 10px;
    font-size: 15px;
    color: #4b4b4b;
}

.faq-list ul li a.collapsed .icon-show {
    display: inline;
}

.faq-list ul li a.collapsed .icon-close {
    display: none;
}

.faq-list ul li a.collapsed {
    color: #4b4b4b;
}

.faq-list ul li a.collapsed:hover {
    background: #f5f5f5;
    color: #4b4b4b;
}

.faq-list ul li a.collapsed:hover .icon-show {
    display: none;
}

.faq-list ul li a.collapsed:hover .icon-close {
    display: inline;
}


footer section {
    background-color: rgb(183, 235, 105);
}
















/*
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.col-1 {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.col-2 {
    width: 50%;
    height: 100vh;
    background-image: url('/static/images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.my-form {
    width: 80%;
    margin: auto auto;
    position: relative;
}

.email, .password{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.links a{
    text-decoration: none;
    margin-top: 12px;

}

.links a:hover{
    text-decoration: underline;
    color: green;
}

.email  input, .password input {
    font-size: 18px;
    padding: 16px 20px;
    outline: none;
    border-radius: 16px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid green;
    outline: none;
}

.email label, .password label{
    font-size: 18px;
    color: #161A30;;
}

.links button{
    color: white;
    background-color: green;
    padding: 16px 40px;
    border-radius: 16px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 80%;
}

.links button:hover{
    opacity: 90%;
} */