.dashboard-pages {
    width: 64%;
    /* height: 100vh; */
    z-index: 0;
    margin-left: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.myprofile {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px auto;
    width: 90%;
    grid-template-areas:
        'user-i header-p header-p header-p header-p'
        'profile-c profile-c profile-c profile-c profile-c';
}

.user-icon {grid-area: user-i;}
.p-text {grid-area: header-p;}
.profile-content {grid-area: profile-c;}

.user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid #34495e;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 50%;
}

.p-text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
    border-radius: 1rem;
}
.user {
    font-size: 2rem;
}

.profile-content {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    flex: 1;
}

.profile-content p {
    display: block;
    width: 100%;
    padding: 4px 8px;
    color: #34495e;
    border-radius: 4px;
    height: 36px;
}


/* ----------mybusinesses------ */
.permit-listing{
    width: 100%;
    margin-top: 5%;
}

.quick-actions-bs{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.quick-actions-bs a{
    margin: 0;
    text-decoration: none;
}

.ul-qa-bs{
    margin: 0;
    padding: 6px;
}
.ul-qa-bs:hover{
    background-color: #DDDDDD;
    border-radius: 0.5rem;
}

.ul-qa-bs li{
    list-style: none;
}
.li-qa-bs i,
.li-qa-bs span{
    font-size: 0.9rem;
    color: grey;

}

.table-bs {
    background-color: #DDDDDD;
    margin: auto auto auto 2%;
    width: 100%;
    padding: 1.5rem;

}
table {
    width: 100%;
    border-collapse: collapse;
}


th,
td {
    padding: 0.5rem;
    text-align: left;
}
.renew{
    background-color: #DDDDDD;
}
.renew a{
    text-decoration: none;
    color: #34495e;
}
.renew :hover{
    cursor: pointer;
    opacity: 90%;
}

/* --payment page-- */
.bill-hero-section {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    z-index: 0;
}
.bill-hero-section{
    color: green;
}
.bill-hero-section p{
    color: red;
    font-weight: 600;
}

.payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 60%;
    border-radius: 2rem;
}

.pay-btn {
    width: 100%;
    font-size: 18px;
}

.btn-pay {
    margin: 24px auto;
    width: 30%;
}

#flash-error-p {
    height: 70px;
    position: fixed;
    text-align: center;
    border-radius: 8px;
    width: 50%;
    left: 35%;
    top: 70px;
    display: hidden;
    z-index: 10;
}
/* ---permits-- */
.permit-listing{
    margin-left: 5%;
    background-color: #DDDDDD;
}
/* Tablets (landscape) */
@media (max-width: 768px) {
    .dashboard-pages {
        width: 100%;
        margin-left: 0;
    }

    .myprofile {
        margin: 20px auto;
    }

    .user-icon {
        width: 150px;
        height: 150px;
    }

    .user {
        font-size: 80px;
    }

    .profile-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .profile-content p {
        font-size: 14px;
    }

    /* -----my-businesses---- */

    .quick-actions-bs{
        padding: 0;
    }
    .table-bs {
        width: 100%;
        margin: auto auto;
        padding: 0;
    }
    .table-bs h4{
        font-size: 1rem;
        padding: 2%;
        margin: 0;
    }
    table,
    td,
    th{
        width: 100%;
        padding: 2%;
    }
    tr,
    th,
    td{
        width: 10%;
        font-size: 0.6rem;
        gap: 2px;
    }

    .payment {
       width: 100%;
    }

    .pay-btn {
        font-size: 16px;
    }

    .btn-pay {
        width: 40%;
    }

    #flash-error-p {
        width: 90%;
        left: 5%;
    }

}