{% extends "admin_dashboard.html" %}
{% block content %}
<div class="service-listing admin-services">
    <div class="admin-upper">
        <div class="admin-upper-content">
            <div class="admin-text-content">
                <h2>Approved Businesses</h2>
            </div>
        </div>
    </div>
    {% if approved_businesses %}
    <div class="table-services">
        <table class="services-table">
            <thead>
                <tr>
                    <th>Business Name</th>
                    <th>Registration Certificate</th>
                    <th>Verification Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for business in approved_businesses %}
                <tr>
                    <td>{{ business.business_name }}</td>
                    <td>{{ business.Certificate_of_Registration_No }}</td>
                    <td>{% if business.verified %} Verified {% else %} Rejected {% endif %}</td>
                    <td>
                        <a href="{{ url_for('main.business_view', business_id=business.id) }}" class="bts btn-primary">View Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <!-- If no approved businesses -->
    <div class="no-pending">
        <h3>No approved businesses at the moment.</h3>
    </div>
    {% endif %}
</div>
{% endblock %}
