{% extends "admin_dashboard.html" %}
{% block content %}
<div class="service-listing">
    <div class="business-details">
        <h2>{{ business_details.business_name }}</h2>
        <ul>
            <li>Entity Origin: {{ business_details.entity_origin }}</li>
            <li>Certificate of Registration No: {{ business_details.Certificate_of_Registration_No }}</li>
            <li>KRA Pin: {{ business_details.KRA_pin }}</li>
            <li>VAT No: {{ business_details.vat_no }}</li>
            <li>PO Box: {{ business_details.po_box }}</li>
            <li>Postal Code: {{ business_details.postal_code }}</li>
            <li>Business Telephone: {{ business_details.business_telephone }}</li>
            <li>Business Telephone Two: {{ business_details.business_telephone_two }}</li>
            <li>Business Email: {{ business_details.business_email }}</li>
            <li>Sub County: {{ business_details.sub_county }}</li>
            <li>Ward: {{ business_details.ward }}</li>
            <li>Physical Address: {{ business_details.physical_address }}</li>
            <li>Plot No: {{ business_details.plot_no }}</li>
            <li>Category: {{ business_details.category }}</li>
            <li>Detailed Description: {{ business_details.detailed_description }}</li>
            <li>Number of Employees: {{ business_details.number_of_employees }}</li>
            <li>Latitude: {{ business_details.latitude }}</li>
            <li>Longitude: {{ business_details.longitude }}</li>
            <li>Owner: {{ business_details.owner }}</li>
            <li>Verified: {% if business_details.verified %} Yes {% else %} No {% endif %}</li>
        </ul>
        <form action="" method="post">
            <div class="btn-group">
                <input type="hidden" name="action" value="reject">
                <button type="submit" class="btn-reject">Reject</button>
            </div>
        </form>
        <form action="" method="post">
            <div class="btn-group">
                <input type="hidden" name="action" value="approve">
                <button type="submit" class="btn-approve">Approve</button>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}
