<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/dashboard.css?{{ cache_id }}">
  <link rel="stylesheet" href="../static/styles/register.css?{{ cache_id }}">
  <link rel="stylesheet" href="../static/styles/side_navigation.css?{{ cache_id }}">
  <link rel="stylesheet" href="../static/styles/coming_soon.css?{{ cache_id }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js?{{ cache_id }}"></script>
  <script src="https://kit.fontawesome.com/5c143bf368.js?{{ cache_id }}" crossorigin="anonymous"></script>
  <script src="../static/scripts/0-epermit.js?{{ cache_id }}"></script>
  <link rel="icon" href="../static/images/klf.jpeg?{{ cache_id }}" />
  <title>ePermit</title>
</head>

<body>
  <nav class="nav-dashboard fixed-top">
    <div class="exp-bill"></div>
    <p class="menu">
      <button class="btn btn-menu" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
        aria-expanded="false" aria-controls="collapseWidthExample">
        <i class="fa-solid fa-sliders"></i>
      </button>
    </p>
    <div class="logo">
      <a class="navbar-brand me-auto d-flex align-items-center" href="{{ url_for('main.landing') }}">
        <img src="../static/images/klf.jpeg" class="ePermit-Logo" alt="ePermit Logo" />
        <span>ePermit</span>
      </a>
    </div>
    <div class="profile-container">
      <div class="profile-pic">
        <i class="fa-regular fa-user"></i>
      </div>
      <div class="profile-logout">
        <i class="fa-solid fa-caret-down"></i>
        <div class="drop-down-logout">
          <ul>
            <a href="{{ url_for('auth.logout') }}">
              <li>
                <span class="p-l">Sign Out</span>
                <i class="fa-solid fa-right-from-bracket p-l"></i>
              </li>
            </a>
            <a href="{{ url_for('main.myprofile') }}">
              <li>
                <span class="p-l">profile</span>
                <i class="fa-solid fa-gear p-l"></i>
              </li>
            </a>
          </ul>
        </div>
      </div>
      <div class="profile-details">
        {% if current_user.first_name and current_user.last_name %}
          <span class="name">{{ current_user.first_name ~ ' ' ~ current_user.last_name }}</span>
        {% endif %}
        <span class="email">{{ current_user.email }}</span>
      </div>
    </div>
  </nav>
  <!-- Side Navigation -->
  <section class="main-listing">
    <div class="side-nav">
      <a href="{{ url_for('main.dashboard') }}">
        <div class="title-divider">
          <i class="fa-solid fa-house"></i>
          <span>Dashboard</span>
        </div>
      </a>
      <ul class="information">
        <a href="{{ url_for('main.mybusinesses') }}">
          <li class="permit-info">
            <i class="fa-solid fa-briefcase"></i>
            <span>My Businesses</span>
          </li>
        </a>
        <a href="{{ url_for('main.mypermits') }}">
          <li class="permit-info">
            <i class="fa-solid fa-certificate"></i>
            <span>My Permits</span>
          </li>
        </a>
        <a href="{{ url_for('register.mpesa_express') }}">
          <li class="permit-info">
            <i class="fa-solid fa-stamp"></i>
            <span>Bills</span>
          </li>
        </a>
      </ul>
      <div class="title-divider">
          <i class="fa-brands fa-servicestack"></i>
          <span>Services</span>
      </div>
        <ul class="information">
          <a href="{{ url_for('register.register_page') }}">
            <li class="permit-info">
              <span>Register Business</span>
            </li>
          </a>
          <a href="{{ url_for('register.mpesa_express')}} ">
            <li class="permit-info">
              <span>Renew permit</span>
            </li>
          </a>
          <a href="{{ url_for('main.coming_soon') }}">
            <li class="permit-info">
              <span>Book Parking</span>
            </li>
          </a>
          <a href="{{ url_for('main.coming_soon') }}">
            <li class="permit-info">
              <span>Construction Permit</span>
            </li>
          </a>
        </ul>
    </div>
    <!-- all pages have dashboard structure -->
    {% block content %}
    {% endblock %}
  </section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
</script>

<!-- Google Maps API Bootstrap Loader -->
<script>
  (g => {
    var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window;
    b = b[c] || (b[c] = {});
    var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => {
      await (a = m.createElement("script"));
      e.set("libraries", [...r] + "");
      for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
      e.set("callback", c + ".maps." + q);
      a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
      d[q] = f;
      a.onerror = () => h = n(Error(p + " could not load."));
      a.nonce = m.querySelector("script[nonce]")?.nonce || "";
      m.head.append(a);
    }));
    d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
  })({
    key: "AIzaSyB7DvaMrr77CKuCqUnQ2xQTQ3WKbAwgCMw",
    v: "weekly",
  });
</script>
<script>
  async function initMap() {
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

    const map = new Map(document.getElementById("map"), {
      center: { lat: -3.8825, lng: 39.6211 },
      zoom: 10,
      disableDefaultUI: true,
      gestureHandling: "cooperative",
      mapId: "DEMO_MAP_ID",
      mapTypeId: 'hybrid',
    });

    let marker = new AdvancedMarkerElement({
      position: { lat: -3.8825, lng: 39.6211 },
      map: map,
    });

    map.addListener("click", (event) => {
      // Remove the existing marker
      marker.map = null;

      // Create a new marker at the clicked location
      marker = new AdvancedMarkerElement({
        position: event.latLng.toJSON(),
        map: map,
      });

      // Capture the coordinates of the new marker
      const latitude = event.latLng.lat();
      const longitude = event.latLng.lng();

      // Auto fill latitude and longitude on front end
      document.querySelector('.latitude-dv input').value = latitude;
      document.querySelector('.longitude-dv input').value = longitude;

      // Debug
      console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);
    });
  }
  initMap();
</script>
</body>
</html>