{% extends "base.html" %}

{% block content %}
<div class="auth-form-div   f-forgot-pwd">
    <h3 class="t-forgot-pwd">Find Your Account</h3>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}" id="flash-message">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form class="form-auth" method="POST" action="/forgot_password/">
            <div class="field">
                <label for="email" class="form-label">Please enter your email address to search<br>for your account</label>
                <input type="text" name="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary auth">Search</button>
        </form>
    </div>
</div>
{% endblock %}