{% extends "base.html" %}
{% block body_class %}bg-body{% endblock %}
{% block nav_class %}bg-nav{% endblock %}


{% block content %}
<section class="hero">
    <div class="container">
        <h1 class="hero-title animated-text">Welcome to Kilifi ePermit</h1>
        <p class="hero-subtitle animated-text delay">
            Your one-stop solution for managing permits online.
        </p>
        <a href="#services" id="primary_button" class="btn btn-primary hero-button">Let's get started</a>
    </div>
</section>

<section class="services" id="services">
    <div class="container">
        <div class="service-wrapper">
            <div class="service">
                <div>
                    <h1 id="serviceh1">Our Services<span></span></h1>
                </div>
                <div class="cards">
                    <div class="card">
                        <i class="fa-solid fa-id-card"></i>
                        <h2>Business Registration</h2>
                        <p>Submit your application online, upload necessary documents</p>
                        <a href="{{ url_for('auth.login') }}" class="apply-link"><button class="apply-button">View Service</button></a>
                    </div>
                    <div class="card">
                        <i class="fa-solid fa-layer-group"></i>
                        <h2>Permit Renewal</h2>
                        <p>Renew your existing permits effortlessly</p>
                        <a href="{{ url_for('auth.login') }}" class="apply-link"><button class="apply-button">View Service</button></a>
                    </div>
                    <div class="card">
                        <i class="fa-solid fa-file-signature"></i>
                        <h2>Other Services</h2>
                        <p>Explore  environmental permits, event permits, and more.</p>
                        <a href="{{ url_for('auth.login') }}" class="apply-link"><button class="apply-button">View more</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faq">
    <div class="container">
        <h2 class="title">FAQs</h2>
        <div class="faq">
            <div class="question">
                <h3>How do I apply for a permit online?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>
            </div>
            <div class="answer">
                <p>
                    To apply for a permit online, you need to first create an account
                    on our platform. Once logged in, navigate to the "Register business" section
                    and fill out the application form.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>How can I track my permit application status?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>
            </div>
            <div class="answer">
                <p>
                    You can track your permit application status by logging in to your
                    account and navigating to the "my businesses" section. There, you will
                    find a list of all your submitted applications along with their
                    current status.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>What payment methods do you accept?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>
            </div>
            <div class="answer">
                <p>
                    We accept mpesa payment method for now,
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>Can I apply for multiple businesses at once?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>
            </div>
            <div class="answer">
                <p>
                    Yes, you can apply for multiple businesses simultaneously. Simply
                    fill out  the registartion form and after your business has been
                    aproved you can go ahead to apply for permit
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>How long does it take to process a permit application??</h3>

                    <svg width="15" height="10" viewBox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                    </svg>
                </div>
                <div class="answer">
                    <p>
                        The processing time for a permit application should be immidiatley
                        permits will only be available for verified businesses
                    </p>
                </div>
            </div>
            <div class="faq">
                <div class="question">
                    <h3>
                        Can I cancel or modify my permit application after submission?
                    </h3>

                    <svg width="15" height="10" viewBox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                    </svg>
                </div>
                <div class="answer">
                    <p>
                        Once a business application is submitted, it enters the processing
                        stage, and changes or cancellations may not be possible. However,
                        you can contact our support team for assistance and further
                        guidance.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center text-lg-start bg-light text-muted py-4" id="footer">
        <section class="py-4">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">ePermit</h6>
                        <p>Simplifying permit management for everyone.</p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Useful Links</h6>
                        <p id="quicklinks">
                            <a href="{{ url_for('main.landing')}}# " class="text-reset">Home</a>
                        </p>
                        <p id="quicklinks">
                            <a href="{{ url_for('main.landing')}}#services" class="text-reset">Services</a>
                        </p>
                        <p id="quicklinks">
                            <a href="{{ url_for('main.landing')}}#faq" class="text-reset">FAQs</a>
                        </p>
                        <p id="quicklinks">
                            <a href="{{ url_for('auth.login') }}" class="text-reset">Login</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Support</h6>
                        <p><i class="fas fa-home me-3"></i> Bonje, 80205, 80205; Kilifi</p>
                        <p><i class="fas fa-envelope me-3"></i> support@epermit.co.ke</p>
                        <p><i class="fas fa-phone me-3"></i> +254 796 814 864</p>
                        <p><i class="fas fa-print me-3"></i> +254 708 051 357</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span>Connect with us on social networks:</span>
            </div>
            <div>
                <a href="#" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </section>
    </footer>
    <script src="../static/scripts/landing.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
{% endblock %}