{% extends "dashboard.html" %}
{% block content %}
<div class="dashboard-pages">
    <div class="quick-actions-bs">
        <ul class="ul-qa-bs">
            <a href="{{ url_for('register.register_page') }}">
                <li class="li-qa-bs">
                    <i class="fa-solid fa-plus"></i>
                    <span>Add business</span>
                </li>
            </a>
        </ul>
    </div>
    <div class="table-bs">
        <h4>All Businesess</h4>
        <table>
            <tr>
                <th>Business Name</th>
                <th>Date created</th>
                <th>Permit No.</th>
                <th>Status</th>
            </tr>
            {% if not businesses %}
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            {% else %}
                {% for business in businesses %}
                    <tr>
                        <td>{{ business.business_name  }}</td>
                        <td>{{ business.created_at }}</td>
                        {% set permit = permits|selectattr('business_id', 'equalto', business.id)|first %}
                            {% if permit %}
                                <td>{{ permit.permit_number }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        <td>{{ 'Verified' if business.verified else 'Pending' }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}
