{% extends "dashboard.html" %}
{% block content %}
<div class="dashboard-pages">
    <div class="table-bs">
        <table>
            <tr>
                <th>Business Name</th>
                <th>Date created</th>
                <th>Permit No.</th>
                <th>Status</th>
            </tr>
            {% for business in businesses %}
            <tr>
                <td>{{  }}</td>
                <td>Row 1, Cell 2</td>
                <td>Row 1, Cell 3</td>
                <td>Row 1, Cell 4</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }
    </style>
</div>

{% endblock %}