{% extends "dashboard.html" %}
{% block content %}
<div class="dashboard-pages">
    <div class="flash error-p-f  {{ category }}" id="flash-error-p"></div>
    <div class="permit-listing">
        <table>
            <thead>
                <tr>
                    <th>Date Granted</th>
                    <th>Permit No.</th>
                    <th>Status</th>
                    <th>Expiry Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if not permits %}
                <tr>
                    <td colspan="6">No permits found.</td>
                </tr>
                {% else %}
                {% for permit in permits %}
                <tr>
                    <td>{{ permit.created_at }}</td>
                    <td>{{ permit.permit_number }}</td>
                    <td>
                        {% if permit.check_validity() %}
                        Active
                        {% else %}
                        Expired
                        {% endif %}
                    </td>
                    <td>{{ permit.expiry_date() }}</td>
                    {% if permit.check_validity() %}
                    <td class="download-permit">
                        <input type="hidden" id="permitInput" name="business_id" value="{{ permit.business_id }}">
                        <button type="button" class="download-permit-btn p-action"><i class="fa-solid fa-download"></i></button>
                    </td>
                    {% else %}
                    <td class="renew"><a class="p-action" href="{{ url_for('register.mpesa_express') }}">Renew</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}