{% extends "dashboard.html" %}
{% block content %}
<div class="dashboard-pages">
    <div class="flash error-p-f  {{ category }}" id="flash-error-p"></div>
    <div class="permit-listing">
        <table>
            <tr>
                <th>Date Granted</th>
                <th>Permit No.</th>
                <th>Status</th>
                <th>Expiry date</th>
                <th>Action</th>
                {% for permit in permits %}
                    {% if permit.check_validity() %}
                    <th>Download</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% if not permits %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% else %}
                {% for permit in permits %}
                    <tr>
                        <td>{{ permit.created_at }}</td>
                        <td>{{ permit.permit_number }}</td>
                        {% if permit.check_validity() %}
                            <td>Active</td>
                        {% else %}
                            <td>Expired</td>
                        {% endif %}
                        <td>{{ permit.expiry_date() }}</td>
                        {% if permit.check_validity() is false %}
                           <td class="renew"><a href="{{ url_for('register.mpesa_express')}}">Renew</a></td>
                        {% endif %}
                        {% if permit.check_validity() %}
                        <td class="download-permit">
                            <input type="hidden" id="permitInput" name="business_id" value="{{ permit.business_id }}">
                            <button type="submit" id="download-permit-btn"><i class="fa-solid fa-download"></i></button>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}

