{% extends "dashboard.html" %}
{% block content %}
    <div class="dashboard-pages">
        <div class="flash error-p-f  {{ category }}" id="flash-error-p"></div>
	    {% if new_businesses %}
        <div class="bill-hero-section">
            <h3 class="title animated-text">Pay Your Bills Here</h3>
            <p class="animated-text delay-1 ">Simply select a business and pay via Mpesa</p>
        </div>
        <div class="payment">
            <form class="form-control" id="mpesa-form" method="post">
                <div class="mb-3">
                    <label for="business_name" class="form-label">Business Name<span class="required">*</span></label>
                    <select name="business_id" class="form-select" required>
                        <option value="" selected></option>
                        {% for business in new_businesses %}
                            <option value="{{ business.id }}">{{ business.business_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label for="phone_number" class="form-label">Enter Phone Number<span class="required">*</span></label>
                <input type="text" name="phone_number" id="phone_number" class="form-control" required>
                <div class="btn-pay">
                    <button type="submit" class="btn-success btn pay-btn" id="pay-permit">Pay</button>
                </div>
            </form>
        </div>
	    {% elif bswithexpired_permits %}
        <div class="bill-hero-section">
            <h3 class="title animated-text">Pay Your Bills Here</h3>
            <p class="animated-text delay-1 ">Simply select a business and pay via Mpesa</p>
        </div>
	    <div class="payment">
	      <form class="form-control" id="mpesa-form" method="post">
            <div class="mb-3">
                <label for="business_name" class="form-label">Business Name<span class="required">*</span></label>
                <select name="business_id" class="form-select" required>
                    <option value="" selected>--Business name--</option>
                    {% for business in bswithexpired_permits %}
                    <option value="{{ business.id }}">{{ business.business_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="phone_number" class="form-label">Enter Phone Number<span class="required">*</span></label>
            <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="e.g 07xxxxxx57" required>
            <div class="btn-pay">
                <button type="submit" class="btn-success btn pay-btn" id="pay-permit">Pay</button>
            </div>
	      </form>
	    </div>
        {% else %}
        <p>You  have no pending bills</p>
        {% endif %}
    </div>
{% endblock %}
