{% extends "admin_dashboard.html" %}
{% block content %}
<div class="service-listing">
    <h2>Rejected Businesses</h2>
    <div class="card-group">
        {% for business in rejected_businesses %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Business Name: {{ business.business_name }}</h5>
                <ul>
                    <li>Entity Origin: {{ business.entity_origin }}</li>
                    <li>Certificate of Registration No: {{ business.Certificate_of_Registration_No }}</li>
                    <li>KRA Pin: {{ business.KRA_pin }}</li>
                    <li>VAT No: {{ business.vat_no }}</li>
                    <li>PO Box: {{ business.po_box }}</li>
                    <li>Postal Code: {{ business.postal_code }}</li>
                    <li>Business Telephone: {{ business.business_telephone }}</li>
                    <li>Business Telephone Two: {{ business.business_telephone_two }}</li>
                    <li>Business Email: {{ business.business_email }}</li>
                    <li>Sub County: {{ business.sub_county }}</li>
                    <li>Ward: {{ business.ward }}</li>
                    <li>Physical Address: {{ business.physical_address }}</li>
                    <li>Plot No: {{ business.plot_no }}</li>
                    <li>Category: {{ business.category }}</li>
                    <li>Detailed Description: {{ business.detailed_description }}</li>
                    <li>Number of Employees: {{ business.number_of_employees }}</li>
                    <li>Latitude: {{ business.latitude }}</li>
                    <li>Longitude: {{ business.longitude }}</li>
                    <li>Owner: {{ business.owner }}</li>
                    <li>Verified: {% if business.verified %} Yes {% else %} No {% endif %}</li>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
