{% extends "base.html" %}

{% block content %}
<div class="auth-form-div  pwd-reset">
    <h3 class="title">Password Reset</h3>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash-{{ category }}" id="flash-message">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form class="form-auth" method="POST">

            <div class="field">
                <label for="new_password" class="form-label">New Password <span class="required">*</span></label>
                <input type="password" name="new_password" class="form-control" placeholder="Your New Password">
            </div>
            <div class="field">
                <label for="confirm_new_password" class="form-label">Confirm New Password <span class="required">*</span></label>
                <input type="password" name="confirm_new_password" class="form-control" placeholder="Confirm New Password">
            </div>

            <button type="submit" class="btn btn-primary auth b-pwd-reset">Reset Password</button>

        </form>
    </div>
</div>
{% endblock %}