{% extends "base.html" %}

{% block content %}
<div class="auth-form-div verify-m">
    <h3 class="title">Verify Email</h3>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash-{{ category }}" id="flash-message">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form class="form-auth" method="POST" action="/verify_email/">
            <div class="field">
                <label for="verification_code" class="form-label">Enter Verification code<span class="required">*</span></label>
                <input type="text" name="verification_code" class="form-control">
            </div>

            <div class="field">
                <input type="hidden" name="email" value="{{ email }}">
            </div>
            <div class="choice">
                <button type="submit" name="action" value="verify" class="choice-btn">Verify</button>
                <button type="submit" name="action" value="resend" class="choice-btn" id="s-choice">Resend Code</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
